{% extends "MyWebsiteWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Project{% endblock %}

{% block css %} 
	{% stylesheets
			'bundles/mywebsiteweb/css/style2.css'
			filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block class_header %}header2{% endblock %}

{% block section %}
	<!---Start-content---->
		<div class="content">
			<div class="wrap">
				<div class="projects">
					<div class="feature-grid-head feature-grid-head1">
						<div class="feature-grid-head-top feature-grid-head-top1">
							<label> </label><span> </span> <label> </label>
							<div class="clear"> </div>
						</div>
						<h3><span>Project :</span> {{ project.intitule }}</h3>
						<div class="year">{{ project.periode }}</div>
					</div>
					<div class="project-grids">
						<div class="project-grid">
							<div class="projects">
								<div class="project-grid1">
									<a class="preview" href="{{ asset('bundles/mywebsiteweb/') }}images/project-pic1.jpg" title="PhotoGraphy">
										<img src="{{ asset('bundles/mywebsiteweb/') }}images/project-pic1.jpg" class="borderImage" alt="Night" />
									</a>
								</div>
								<div class="project-grid1">
									<a class="preview" href="{{ asset('bundles/mywebsiteweb/') }}images/project-pic2.jpg" title="Print design">
										<img src="{{ asset('bundles/mywebsiteweb/') }}images/project-pic2.jpg" class="borderImage" alt="Night" />
									</a>
								</div>
								<div class="project-grid1">
									<a class="preview" href="{{ asset('bundles/mywebsiteweb/') }}images/project-pic3.jpg" title="E-marketing">
										<img src="{{ asset('bundles/mywebsiteweb/') }}images/project-pic3.jpg" class="borderImage" alt="Night" />
									</a>
								</div>
								<div class="project-grid1">
									<a class="preview" href="{{ asset('bundles/mywebsiteweb/') }}images/project-pic4.jpg" title="E-marketing">
										<img src="{{ asset('bundles/mywebsiteweb/') }}images/project-pic4.jpg" class="borderImage" alt="Night" />
									</a>
								</div>
								<div class="clear"> </div>
							</div>
						</div>
					</div>
					<div class="project-info">
						<div class="feature-grid3 feature-grid-head2">
							<span class="titre">Technologies</span>
						</div>
						<p>{{ project.technologie }}</p>
					</div>
					<div class="project-info">
						<div class="feature-grid3 feature-grid-head2">
							<span class="titre">Site web</span>
						</div>
						<p><a href="{{ project.website }}">Site web projet "{{ project.intitule }}"</a></p>
					</div>
					<div class="project-info">
						<div class="feature-grid3 feature-grid-head2">
							<span class="titre">Description</span>
						</div>
						<p>{{ project.description }}</p>
					</div>
				</div>
			</div>
		</div>
	<!---End-content---!>
{% endblock %}

{% block js %}
	{% javascripts
		'bundles/mywebsiteweb/js/main.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}