<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Modifier</span> Catégorie</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="categorie-tabs">	
		<!---start-tabs--->
		<ul id="tabs">
			<li><a href="#" name="tab1">Liste des Contenus</a></li>
			<li><a href="#" name="tab2">Ajouter Contenu</a></li>
			<li><a href="#" name="tab3">Gestion Categorie</a></li>
		</ul>

		<div id="content"> 
			<div id="tab1">
				{% if list_contenus | length == 0 %}
					<br/>
					<p>Aucun Contenu créé...</p>
				{% else %}
					{% set i = 1 %}
					{% for contenu in list_contenus %}
						<div class="contact_form border">
							<h2>Contenu {{ i }}</h2>
						</div>
						{% include "MyWebsiteCvBundle:Profile:cv-categorie-contenu-edit.html.twig" %}
						{% set i = i+1 %}
						<br/><br/><br/>
					{% endfor %}
				{% endif %}
			</div>
			
			<div id="tab2">
				<div class="contact_form border">
					<h2>Nouveau contenu</h2>
					<span class="required_notification">* Denotes Required Field</span>
				</div>
				{% include "MyWebsiteWebBundle:Web:Profil/cv-categorie-contenu-new.html.twig" %}
			</div>
			
			<div id="tab3">
				<div class="new-project-form">
					<form class="contact_form" action="{{ path('mywebsiteweb_profil_cv_categorie_modifier') }}" method="post" name="contact_form">
						<ul class="form-content">
							<li>
								<h2>Détails de la Catégorie</h2>
								<span class="required_notification">* Denotes Required Field</span>
								<input type="hidden" name="idCategorie" value="{{ categorie.id }}" required />
							</li>
							<li>
								<label for="intitule">Intitule:</label>
								<input type="text" name="intitule" placeholder="Expérience professionnelle" maxlength="100" value="{{ categorie.intitule }}" required />
							</li>
							<li>
								<label for="tag">Tag:</label>
								<input type="text" name="tag" placeholder="experience" maxlength="20" value="{{ categorie.tag }}" required />
							</li>
						</ul>
						<ul class="form-submit">
							<li>
								<input type="submit" class="submit" value="Modifier"/>
								<a href="{{ path('mywebsiteweb_profil_cv_categorie_supprimer', {'idCategorie': categorie.id}) }}"><input type="button" value="Supprimer"/></a>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"> </div>
</div>
