<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Gestion</span> Catégorie</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="new-project-form">
		<form class="contact_form" action="{{ path('web_profil_category_edit') }}" method="post" name="contact_form">
			<ul class="form-content">
				<li>
					<h2>Détails</h2>
					<span class="required_notification">* Denotes Required Field</span>
					<input type="hidden" name="idAdmin" value="{{ category.id }}" required />
				</li>
				<li>
					{{ form_label(formCategory.title, "Title :") }}
					{{ form_widget(formCategory.title) }}
				</li>
				<li>
					{{ form_label(formCategory.tag, "Tag :") }}
					{{ form_widget(formCategory.tag) }}
				</li>
			</ul>
			<ul class="form-submit">
				<li>
					<input type="submit" class="submit" value="Enregistrer"/>
					{% if message is defined %}
						<div class="required_notification">{{ message }}</div>
					{% endif %}
				</li>
			</ul>
		</form>
	</div>
	<div class="clear"> </div>
</div>