<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Modifier</span> Profil</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="new-form">
		<form name="contact_form" class="contact_form" action={{ path('web_profile_edit') }} method="post">
			{{ message }}
			<div class="form-submit2">
				<input type="submit" class="submit" value="Enregistrer"/>
			</div>
			<br/>
			<ul class="form-content">
				<br/>
				<li>
					<h2>Informations personnelles</h2>
				</li>
				<li>
					<label for="firstName">Pr&eaacute;nom</label>
					<input type="text" name="firstName" value="{{ profile.firstName }}" placeholder="your first name" maxlength="50" required />
				</li>
				<li>
					<label for="laststName">Nom</label>
					<input type="text" name="lastName" value="{{ profile.lastName }}" placeholder="your last name" maxlength="50" required />
				</li>
				<li>
					<label for="email">Email</label>
					<input type="email" name="email" value="{{ profile.email }}" placeholder="exemple@email.com" required />
				</li>
				{% if categories.count > 0 %}
					{% for category in categories %}
						{% include "MyWebsiteWebBundle:Profile:Layout/Form/profile-category-form.html.twig" %}
					{% endfor %}
				{% endif %}
			</ul>
		</form>
	</div>
	<div class="clear"> </div>
</div>