<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Modifier</span> Projet</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="new-project-form">
		<form class="contact_form" action="{{ path('mywebsiteweb_profil_project_modifier', {'idProject': project.id}) }}" method="post" name="contact_form">
			<ul class="form-content">
				<li>
					<h2>Détails du projet: "{{ project.intitule | truncate(30, true, '...') }}"</h2>
					<span class="required_notification">* Denotes Required Field</span>
				</li>
				<li>
					<label for="intitule">Intitule:</label>
					<input type="text" name="intitule" placeholder="Mon Projet" maxlength="50" value="{{ project.intitule }}" required />
				</li>
				<li>
					<label for="periode">Période:</label>
					<input type="text" name="periode" placeholder="2014" value="{{ project.periode }}" required />
				</li>
				<li>
					<label for="technologie">Technologie:</label>
					<input type="text" name="technologie" placeholder="XML" value="{{ project.technologie }}" required />
				</li>
				<li>
					<label for="website">Site web:</label>
					<input type="url" name="website" placeholder="http://sitewebprojet.com" value="{{ project.website }}" pattern="(http|https)://.+"/>
					<span class="form_hint">Proper format "http://sitewebprojet.com"</span>
				</li>
				<li>
					<label for="description">Description:</label>
					<textarea name="description" cols="40" rows="6" required >{{ project.description }}</textarea>
				</li>
			</ul>
			<ul class="form-submit">
				<li>
					<input type="submit" class="submit" value="Modifier"/>
					<a href="{{ path('mywebsiteweb_profil_project_supprimer', {'idProject': project.id}) }}"><input type="button" value="Supprimer"/></a>
				</li>
			</ul>
		</form>
	</div>
	<div class="clear"> </div>
</div>
