<form class="contact_form" action="{{ path('cv_profile_content_edit') }}" method="post" name="contact_form_contenu">
	<ul class="form-content">
		<li>
			<input type="hidden" name="idContent" value="{{ content.id }}" required />
			<label for="titre">Titre ou période:</label>
			<input type="text" name="titre" placeholder="titre" maxlength="50" value="{{ contenu.titre }}" required />
		</li>
		<li>
			<label for="description1">Description 1:</label>
			<input type="text" name="description1" placeholder="" maxlength="100" value="{{ contenu.description1 }}" required />
		</li>
		<li>
			<label for="description2">Description 2:</label>
			<input type="text" name="description2" placeholder="" maxlength="100" value="{{ contenu.description2 }}" />
		</li>
		<li>
			<label for="description3">Description 3:</label>
			<input type="text" name="description3" placeholder="" maxlength="200" value="{{ contenu.description3 }}" />
		</li>
	</ul>
	<ul class="form-submit">
		<li>
			<input type="submit" class="submit" value="Modifier"/>
			<a href="{{ path('cv_profile_content_delete', {'idContent': content.id}) }}"><input type="button" value="Supprimer"/></a>
		</li>
	</ul>
</form>