<div class="right-protfolio-grids2">
	<div class="feature-grid2">
		<div class="feature-grid-head feature-grid-head3">
			<h3><span>Modifier</span> Curriculum Vitae</h3>
			<div class="feature-grid-head-top">
				<label> </label><label> </label>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="new-contact-form">
			{{ form_start(form, { 'attr':{'class':'contact_form', 'name':'contact_form'} }) }}
				{{ form_errors(form) }}
				<div class="form-submit2">
					<input type="submit" class="submit" value="Enregistrer"/>
					<a href="{{ path('cv_profile_delete') }}"><input type="button" value="Supprimer Cv"/></a>
				</div>
				<br/>
				{% set i = -1 %}
				{% for formCategory in form.categories %}
					{% set i = i+1 %}
					{% set category = attribute(cv.categories, i) %}
					{% set formCategory = attribute(form.categories, i) %}
					{% if i == 0 %}
						{% include "MyWebsiteCvBundle:Profile:SubLayout/Form/cv-edit.html.twig" %}
					{% elseif i == (form.categories | length) - 1 %}
						<br/><br/>
						<ul class="form-content">
							<li>
								<h2>Ajouter une catégorie</h2>
								<span class="required_notification">* Denotes Required Field</span>
							</li>
						</ul>
						{% include "MyWebsiteCvBundle:Profile:SubLayout/Form/cv-category-new.html.twig" %}
					{% else %}
						{% if i == 1 %}
							<br/><br/><br/>
							<ul class="form-content">
								<li>
									<h2>Gestion des catégories</h2>
									<span class="required_notification">* Denotes Required Field</span>
								</li>
							</ul>
						{% endif %}
						{% include "MyWebsiteCvBundle:Profile:SubLayout/Form/cv-category-edit.html.twig" %}
						<br/>
					{% endif %}
				{% endfor %}
				{{ form_widget(form._token) }}
			{{ form_end(form, {'render_rest': false}) }}
		</div>
	</div>
</div>