<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Modifier</span> Curriculum Vitae</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	
	{{ form_start(form, { 'attr':{'class':'contact_form', 'name':'contact_form'} }) }}
		{% if cv.categories | length > 0 %}
			{{ form_errors(form) }}
			<span class="required_notification">{{ message }}</span>
			<ul class="form-content">
				{% set category = attribute(cv.categories, 0) %}
				{% set formCategory = attribute(form.categories, 0) %}
				{% include "MyWebsiteCvBundle:Profile:SubLayout/Form/cv-category.html.twig" %}		
			</ul>
			<ul class="form-submit">
				<li>
					<input type="submit" class="submit" value="Enregistrer"/>
				</li>
			</ul>
			<br/><br/><br/><br/>
		{% endif %}
		<ul class="form-content">
			<li>
				<h2>Liste des catégories</h2>
			</li>
		</ul>
		{% if (cv.categories | length <= 1) %}
			<br/>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;Aucune catégorie créée...</p>
		{% else %}
			{% for category in cv.categories if category.tag != 'cv_category_info' %}
				<div class="contact_form list-content border">
					<div class="list-content-left">
						{{ category.title | truncate(40, true, '...') }}
					</div>
					<div class="list-content-right">
						<button type="button" /><a href="{{ path('cv_profile_category_edit', {'idCategory': category.id}) }}">Modifier</a></button>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		{{ form_widget(form._token) }}
	{{ form_end(form, {'render_rest': false}) }}
	<br/><br/><br/><br/>
	<form class="contact_form" action="{{ path('cv_profile_category_new', {'idCv': cv.id}) }}" method="post" name="contact_form_contenu">
		<ul class="form-content">
			<li>
				<h2>Ajouter une catégorie</h2>
			</li>
			<li>
				<label for="new_category_title">Titre</label>
				<input type="text" name="new_category_title" placeholder="example : Formation" maxlength="50" required />
			</li>
		</ul>
		<ul class="form-submit">
			<li>
				<input type="submit" class="submit" value="Enregistrer"/>
			</li>
		</ul>
	</form>
</div>