<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Tous les</span> Curriculum Vitae</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="new-project-form">
		{% if cvs | length == 0 %}
			<p>Aucun Cv créé...</p>
			<br/>
			<div class="list-content">
				<button type="button" /><a href="{{ path('cv_profile_new') }}">Ajouter Cv</a></button>
			</div>
		{% else %}
			<p class="required_notification">*activer un Cv le rendra disponible mais désactivera tous les autres</p>
			<br/><br/>
			{% for cv in cvs %}
				<div class="contact_form list-content border">
					<div class="list-content-left">
						{% if cv.disponibility != null %}{{ cv.disponibility }} - {% endif %}{{ cv.title | truncate(40, true, '...') }}
					</div>
					{% if cv.active == true %}
						<div class="list-content-right2">
							<button type="button" /><a href="{{ path('cv_profile_active', {'idCv': cv.id, 'activate': false}) }}">Désactiver</a></button>
							<button type="button" /><a href="{{ path('cv_profile_edit', {'idCv': cv.id}) }}">Modifier</a></button>
						</div>
					{% else %}
						<div class="list-content-right2">
							<button type="button" /><a href="{{ path('cv_profile_active', {'idCv': cv.id, 'activate': true}) }}">Activer</a></button>
							<button type="button" /><a href="{{ path('cv_profile_edit', {'idCv': cv.id}) }}">Modifier</a></button>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<div class="clear"> </div>
</div>
