<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Modifier</span> Profil</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="new-form">
		<form class="contact_form" action="{{ path('web_profil_modifier') }}" method="post" name="contact_form">
			<div class="form-submit2">
				<input type="submit" class="submit" value="Enregistrer"/>
				{% if message is defined %}
					<div class="required_notification">{{ message }}</div>
				{% else %}
					<span class="required_notification">* Denotes Required Field</span>
				{% endif %}
			</div>
			<br/>
			<ul class="form-content">
				<br/>
				<li>
					<h2>Informations personnelles</h2>
				</li>
				<li>
					{{ form_label(formProfil.firstName, "Prénom :") }}
					{{ form_widget(formProfil.firstName) }}
				</li>
				<li>
					{{ form_label(formProfil.lastName, "Nom :") }}
					{{ form_widget(formProfil.lastName) }}
				</li>
				{% include "MyWebsiteWebBundle:Profil:Layout/Form/profil-category-form.html.twig" %}
			</ul>
		</form>
	</div>
	<div class="clear"> </div>
</div>