{% extends "MyWebsiteWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block css %}
	{% stylesheets
		'bundles/mywebsiteweb/css/style2.css'
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block class_header %}header{% endblock %}

{% block slider %}
	<!---start-da-slider----->
	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2>Curriculum Vitae</h2>
			<p>Want to know my career...?</p>
			<a href="{{ path('cv_list') }}" class="da-link">Show more</a>
		</div>
		<div class="da-slide">
			<h2>Projectcs</h2>
			<p>Want to see my practices...?</p>
			<a href="{{ path('project_list') }}" class="da-link">Show more</a>
		</div>
		<div class="da-slide">
			<h2>Portfolios</h2>
			<p>Want to look my photos...?</p>
			<a href="#" class="da-link">Show more</a>
		</div>
		<nav class="da-arrows">
			<span class="da-arrows-prev"></span>
			<span class="da-arrows-next"></span>
		</nav>
	</div>
	<!---//End-da-slider----->
{% endblock %}

{% block section %}
	<!---Start-content---->
	<div class="content">
		<div class="wrap">
			<!---start-welcome-note---->
			<div class="wellcome-note">
			</div>
			<!---//End-welcome-note---->
			<div class="test-monials">
				<div class="feature-grid-head feature-grid-head2">
					<div class="feature-grid-head-top feature-grid-head-top3">
						<label> </label><span> </span> <label> </label>
						<div class="clear"> </div>
					</div>
					<h3><span>Words</span> Welcome</h3>
					<p>Welcome to my website. I invite you to know me, see my journey, my ambitions and my passions. I hope that you will find your happiness here, or your love may be ^_^... life offers us lot of surprises. Thank you and good navigation</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	{% javascripts
		'bundles/mywebsiteweb/js/modernizr.custom.28468.js'
		'bundles/mywebsiteweb/js/jquery.cslider.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	<script type="text/javascript">
		$(function() {
			$('#da-slider').cslider({
				autoplay : true,
				bgincrement	: 450
			});
		});
	</script>  
{% endblock %}