<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Informations</span> Administration</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="new-project-form">
		<form class="contact_form" {{ form_enctype(formAdmin) }}>
			<ul class="form-content">
				<li>
					<h2>Détails du mot de passe</h2>
					<span class="required_notification">* Denotes Required Field</span>
				</li>
				<li>
					{{ form_label(formAdmin.emailBackup, "Email") }}
					{{ form_widget(formAdmin.emailBackup) }}
				</li>
				<li>
					{{ form_label(formAdmin.password, "Actuel mot de passe") }}
					{{ form_widget(formAdmin.password) }}
				</li>
				<li>
					<label for="newpassword">Nouveau mot de passe:</label>
					<input type="password" name="newpassword" placeholder="nouveau mot de passe" maxlength="20" />
				</li>
				<li>
					<label for="confirmnewpassword">Confirmer:</label>
					<input type="password" name="confirmnewpassword" placeholder="confirmer nouveau mot de passe" maxlength="20" />
				</li>
			</ul>
			<ul class="form-submit">
				<li>
					<input type="submit" class="submit" value="Modifier"/>
				</li>
			</ul>
		</form>
	</div>
	<div class="clear"> </div>
</div>