{% extends "MyWebsiteWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - MyProfil{% endblock %}

{% block css %} 
	{% stylesheets
			'bundles/mywebsiteweb/css/form-style.css'
			'bundles/mywebsiteweb/css/tabs.css'
			filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block class_header %}header2{% endblock %}

{% block section %}
	<!---Start-content---->
	<div class="content">
		<div class="wrap">
			<div class="feature-grids">
				<div class="feature-grid-head">
					<div class="feature-grid-head-top">
						<label> </label><span> </span> <label> </label>
						<div class="clear"> </div>
					</div>
					<h3><span>Register to</span> MyProfil</h3>
				</div>
			</div>
			<!---start-Features---->
			<div class="contact-form">
				<form class="contact_form" action="{{ path('mywebsiteweb_profil_nouveau') }}" method="post" name="contact_form">
					<ul class="form-content">
						<li>
							<h2>Informations du profil:</h2>
							<span class="required_notification">* Denotes Required Field</span>
						</li>
						<li>
							<label for="nom">Nom:</label>
							<input type="text" name="nom" placeholder="nom" required />
						</li>
						<li>
							<label for="prenom">Prénom:</label>
							<input type="text" name="prenom" placeholder="prenom" required />
						</li>
						<li>
							<label for="email">Email:</label>
							<input type="email" name="email" placeholder="email" value="{{ temp_email }}" required/>
							<span class="form_hint">Proper format "xyz@exemple.com"</span>
						</li>
						<li>
							<label for="pays">Pays:</label>
							<select name="pays" placeholder="pays">
								{% for pays in list_pays %}
									<option value="{{ pays.nom }}">{{ pays.nom }}</option>
								{% endfor %}
							</select>
						</li>
						<li>
							<label for="ville">Ville:</label>
							<input type="text" name="ville" placeholder="ville" />
						</li>
						<li>
							<label for="telephone">Téléphone:</label>
							<input type="text" name="telephone" placeholder="telephone" />
						</li>
					</ul>
					<br/><br/>
					<ul class="form-content">
						<li>
							<h2>Identifiants de connexion:</h2>
							<span class="required_notification">* Denotes Required Field</span>
						</li>
						<li>
							<label for="login">Pseudo:</label>
							<input type="text" name="login" placeholder="pseudo" value="{{ temp_login }}" required/>
						</li>
						<li>
							<label for="password">Mot de passe:</label>
							<input type="password" name="password" placeholder="mot de passe" required/>
						</li>
						<li>
							<label for="confirmpassword">Confirmation:</label>
							<input type="password" name="confirmpassword" placeholder="confirmez le mot de passe" required/>
						</li>
					</ul>
					<ul class="form-submit">
						<li>
							<input type="submit" class="submit" value="Créer profil"/>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	<!---End-content---->
{% endblock %}