<br/>
<br/>
<ul class="form-content">
	<li>
		<h2>{{ category.title }}</h2>
		<span class="required_notification">* Denotes Required Field</span>
	</li>
	{% if category.contents.count > 0 %}
		{% set j = -1 %}
		{% for formContent in formCategory.contents %}
			{% set j = j+1 %}
			{% set content = attribute(category.contents, j) %}
			<li>
				{% if content.formType == 'textarea' %}
					{{ form_label(formContent.textValue, content.labelValue) }}
					{{ form_widget(formContent.textValue, {'attr': {
						'name':  content.id ~ '_text_' ~ content.label,
						'placeholder' : content.placeholder
						}})
					}}
				{% else %}
					{{ form_label(formContent.stringValue, content.labelValue) }}
					{{ form_widget(formContent.stringValue, {'attr': {
						'name':  content.id ~ '_string_' ~ content.label,
						'placeholder' : content.placeholder
						}})
					}}
				{% endif %}
			</li>
		{% endfor %}
	{% endif %}
</ul>
		