<br/>
<ul class="form-content">
	<li>
		<h2>{{ category.title }}</h2>
	</li>
	{% if category.type == 'content' %}
		{% set contents = category.contents %}
		{% if contents != null %}
			{% for content in contents %}
				<li>
					<input type="hidden" name="{{ content.label ~ '_' ~ content.id }}" value="{{ content.id }}">
					<label for="{{ content.label }}">{{ content.labelValue }}</label>
					{% if content.formType == 'textarea' %}
						<textarea name="{{ content.label ~ '_' ~ content.id }}" {% if content.required == true %} required {% endif %}/>{{ content.textValue }}</textarea>
					{% else %}
						<input type="{{ content.formType }}" name="{{ content.label ~ '_' ~ content.id }}" value="{{ content.stringValue }}" {% if content.placeholder != null %} placeholder="{{ content.placeholder }}" {% endif %} {% if content.required == true %} required {% endif %}/>
					{% endif %}
				</li>
			{% endfor %}
		{% endif %}
	{% endif %}
</ul>
		