<div class="new-form">
	<form class="contact_form" action="{{ path('web_profil_picture_modifier') }}" method="post" {{ form_enctype(formPicture) }}>
		<ul class="form-content">
			<li>
				<h2>Photo de profil</h2>
				{% if messagePicture is defined %}
						{{ messagePicture }}
				{% endif %}
				<span class="required_notification">* Denotes Required Field</span>
				<input type="hidden" name="id" value="1" required />
			</li>
			<li>
				<label for="file">Choisir (JPEG, PNG):</label>
				<td><input type="hidden" name="MAX_FILE_SIZE" value="200000"/><input type="file" name="file" id="file" /></td>
			</li>
		</ul>
		<ul class="form-submit">
			<li>
				<label for="file">Publier:</label>
				{% if profil.pictureDisplay == true %}
					<a href="{{ path('web_profil_picture_modifier', {'displayPicture': true}) }}"><input type="button" value="Activer"/></a>
				{% else %}
					<a href="{{ path('web_profil_picture_modifier', {'displayPicture': false}) }}"><input type="button" value="Desactiver"/></a>
				{% endif %}
			</li>
			<li>
				<input type="submit" class="submit" value="Modifier"/>
				<a href="{{ path('web_profil_picture_supprimer') }}"><input type="button" value="Supprimer"/></a>
			</li>
		</ul>
	</form>
</div>