<li>
	{{ form_label(formContent.label, content.label) }}
	{{ form_widget(formContent.label) }}
</li>
{% if content.typeForm == 'textarea' %}
	<li>
		{{ form_label(formContent.textValue, content.textValue) }}
		{{ form_widget(formContent.textValue) }}
	</li>
{% else %}
	<li>
		{{ form_label(formContent.stringValue, content.stringValue) }}
		{{ form_widget(formContent.stringValue) }}
	</li>
{% endif %}