{% extends "MyWebsiteWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - MyProfil{% endblock %}

{% block class_header %}header2{% endblock %}

{% block section %}
	<!---Start-content---->
	<div class="content">
		<div class="wrap">
			<div class="feature-grids">
				<div class="feature-grid-head">
					<div class="feature-grid-head-top">
						<label> </label><span> </span> <label> </label>
						<div class="clear"> </div>
					</div>
					<h3><span>Register to</span> MyProfil</h3>
				</div>
			</div>
			<!---start-Features---->
			<div class="contact-form">
				<div class="feature-grids">
					<form method="POST" action="{{ path('mywebsiteweb_profil_nouveau') }}">
						<div class="text-box-grids">
							<div class="text-box">
								Identifiants de connexion :
							</div>
							<div class="clear"> </div>
						</div>
						<div class="text-box-grids">
							<div class="text-box">
								<input type="text" name="login" placeholder="pseudo" value="{{ temp_login }}">
							</div>
							<div class="text-box contact-vertical italic">
								<div><-- inserer code ajax de verification disponibilité login</div>
							</div>
							<div class="clear"> </div>
						</div>
						<div class="text-box-grids">
							<div class="text-box">
								<input type="password" name="password" placeholder="mot de passe">
							</div>
							<div class="text-box contact-vertical italic">
								<div><-- inserer code ajax de verification niveau securite mot de passe</div>
							</div>
							<div class="clear"> </div>
						</div>
						<div class="text-box-grids">
							<div class="text-box">
								<input type="password" name="confirmpassword" placeholder="confirmez le mot de passe">
							</div>
							<div class="text-box contact-vertical italic">
								<div><-- inserer code ajax de verification conformité mot de passe</div>
							</div>
							<div class="clear"> </div>
						</div>
						<br/>
						<div class="text-box-grids">
							<div class="text-box">
								Informations personnelles:
							</div>
							<div class="clear"> </div>
						</div>
						<div class="text-box-grids">
							<div class="text-box">
								<input type="text" name="nom" placeholder="nom">
							</div>
							<div class="text-box">
								<input type="text" name="prenom" placeholder="prenom">
							</div>
							<div class="clear"> </div>
						</div>
						<div class="text-box-grids">
							<div class="text-box">
								<input type="text" name="email" placeholder="email" value="{{ temp_email }}">
							</div>
							<div class="text-box contact-vertical italic">
								<p>exemple : abc@email.com</p>
								<div><-- inserer code ajax de verification conformité et disponibilié email</div>
							</div>
							<div class="clear"> </div>
						</div>
						<div class="text-box-grids">
							<div class="text-box">
								<input type="text" name="ville" placeholder="ville">
							</div>
							<div class="text-box">
								<select name="pays" placeholder="pays">
									{% for pays in list_pays %}
										<option value="{{ pays.nom }}">{{ pays.nom }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="clear"> </div>
						</div>
						<input type="submit" value="Envoyer" />
					</form>
				</div>
			</div>
        </div>
	</div>
	<!---End-content---->
{% endblock %}