<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Informations de</span> Profil</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="new-form">
		{{ form_start(form, { 'attr':{'class':'contact_form', 'name':'contact_form'} }) }}
			{{ form_errors(form) }}
			<div class="form-submit2">
				<input type="submit" class="submit" value="Enregistrer"/>
				<a href="{{ path('profile_client_delete') }}"><input type="button" value="Clôturer compte"/></a>
			</div>
			<br/>
			<ul class="form-content">
				{% if user.categories.count > 0 %}
					{% set i = -1 %}
					{% for formCategory in form.categories %}
						{% set i = i+1 %}
						{% set category = attribute(user.categories, i) %}
						{% include "MyWebsiteProfileBundle:Client:Form/client-category-edit.html.twig" %}
					{% endfor %}
				{% endif %}
			</ul>
			{{ form_widget(form._token) }}
		{{ form_end(form, {'render_rest': false}) }}
		<br/>
		<br/>
	</div>
	<div class="clear"> </div>
</div>