<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}SAMWEB{% endblock %}</title>
		{% stylesheets
			'bundles/mywebsiteweb/css/style.css'
			'bundles/mywebsiteweb/css/animate.css' 
			'bundles/mywebsiteweb/css/slide.css' 
			filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
		{% block css %}{% endblock %}
	</head>

	<body>
		<!-- Panel -->
		<div id="toppanel">
			<div id="panel">
				<div class="content clearfix">
					<div class="left">
						<h1>Access to MyProfil</h1>
						<h2>Manage your content here</h2>		
						<p class="grey">You can add, modify or delete anything between Projects, CV, Portoflio... The only limit is your imagination!</p>
					</div>
					<div class="left">
						<!-- Login Form -->
						<form name="form-login" class="clearfix" action="{{ path('mywebsiteweb_profil_afficher') }}" method="post">
							<h1>Member Login</h1>
							<label class="grey" for="log">Pseudo:</label>
							<input class="field" type="text" name="login" id="log" size="23" />
							<label class="grey" for="pwd">Mot de passe:</label>
							<input class="field" type="password" name="password" id="pwd" size="23" />
							<div class="clear"></div>
							<input type="submit" name="submit" value="Login" class="bt_login" />
							<a class="lost-pwd" href="#">Lost your password?</a>
						</form>
					</div>
					<div class="left right">			
						<!-- Register Form -->
						<form name="form-register" action="{{ path('mywebsiteweb_register') }}" method="post">
							<h1>Become member? Sign Up!</h1>				
							<label class="grey" for="signup">Pseudo:</label>
							<input class="field" type="text" name="login" id="signup" size="23" />
							<label class="grey" for="email">Email:</label>
							<input class="field" type="text" name="email" id="email" size="23" />
							<input type="submit" name="submit" value="Register" class="bt_register" />
						</form>
					</div>
				</div>
			</div> <!-- /login -->	
			<!-- The tab on top -->	
			<div class="tab">
				{% set login = app.session.get('login') %}
				{% if  login == null %}
				<ul class="login">
					<li class="left">&nbsp;</li>
					<li id="toggle">
						<a id="open" class="open" href="#">Log In | Register</a>
						<a id="close" style="display: none;" class="close" href="#">Close Panel</a>						
					</li>
					<li class="right">&nbsp;</li>
				</ul>
				{% else %}
				<ul class="login">
					<li class="left">&nbsp;</li>
					<li>
						<a href="{{ path('mywebsiteweb_profil_afficher') }}">MyProfil</a>				
					</li>
					<li>|</li>
					<li>
						<a id="close" class="close" href="{{ path('mywebsiteweb_logout') }}">Log Out</a>				
					</li>
					<li class="right">&nbsp;</li>
				</ul>
				{% endif %}
			</div> 
			<!-- / top -->
		</div>
		<!---End-panel--->
		<!---Header--->
		<div class="{% block class_header %}{% endblock %}">
			<div class="wrap">
				<!--start-top-nav---->
				<div class="top-header animated bounceInDown">
					<!---start-logo---->
					<div class="logo">
						<a href="{{ path('mywebsiteweb_home') }}"><img src="{{ asset('bundles/mywebsiteweb/') }}images/logo.png" title="Webworld" /></a>
					</div>
					<!---End-logo---->
					<!---start-top-nav---->
					<div class="top-nav" id="navigation">
						<ul>
							<li><a href="{{ path('mywebsiteweb_home') }}">Home</a></li>
							<li><a href="{{ path('mywebsiteweb_project_list') }}">Projects</a></li>
							<li><a href="{{ path('mywebsiteweb_cv_list') }}">CV</a></li>
							<li><a href="{{ path('mywebsiteweb_portfolio') }}">Portfolio</a></li>
							<li><a href="{{ path('mywebsiteweb_contact') }}">Contact</a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="clear"> </div>
					<!---//End-top-nav---->
				</div>
				
				{% block slider %}{% endblock %}
			</div>
		</div>
		<!---End-header---->
		
		{% block section %}{% endblock %}
		
		<!---Footer---->
			<!---Start-first-footer--->
			<div class="footer">
				<div class="wrap">
					<div class="footer-grid footer-grid1">
						<h4><a href="#"><img src="{{ asset('bundles/mywebsiteweb/') }}images/flogo.png" alt="" /></a></h4>
						<p>This website is within the scope of a personal project presentation and desire to control different technologies for creating and web development</p>
						<p>Regards,</p>
						<p>The administrator</p>
					</div>
					<div class="footer-grid footer-grid2">
						<h4>Contact</h4>
						<ul>
							<li><span> </span> <label>Paris</label></li>
							<li><span> </span> <label>samir(8)saidali(at)yahoo(dot)fr</label></li>
							<li><span> </span> <label>+336-98-33-01-53</label></li>
						</ul>
					</div>
					<div class="footer-grid footer-grid4">
						<h4>News Letter</h4>
						<p>If you want to follow my latest news, please insert your email</p>
						<form>
							<input type="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
							<input type="submit" value="Go" />
						</form>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
			<!---End-first-footer--->
			<!---Start-copy-right---->
			<div class="copy-right">
				<div class="wrap">
					<div class="copy-right-left">
						<p>&#169; All rights reserved. &copy 2014 Designed by Webworld</p>
					</div>
					<div class="copy-right-right">
						<ul>
							<li><a class="twitter" href="#"><span> </span></a></li>
							<li><a class="facebook" href="#"><span> </span></a></li>
							<li><a class="linkedin"  href="#"><span> </span></a></li>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
			<!---End-copy-right---->
		</div>
		<!---End-footer---->
		{% javascripts
			'bundles/mywebsiteweb/js/jquery.min.js'
			'bundles/mywebsiteweb/js/slide.js' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		{% block js %}{% endblock %}
	</body>
</html>