<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Gestion de</span> connexion</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="new-form">
		{{ form_start(form, { 'attr':{'class':'contact_form', 'name':'contact_form'} }) }}
			{{ form_errors(form) }}
			<ul class="form-content">
				<li>
					<h2>Identifiants</h2>
					<span class="required_notification">{{ message }}</span>
				</li>
				<li>
					{{ form_label(form.login, "Login :") }}
					{{ form_widget(form.login, {'attr': {
						'readonly': 'readonly'
						}}) 
					}}
				</li>
				<li>
					<label for="oldPassword">Actuel mot de passe :</label>
					<input type="password" name="oldPassword" placeholder="current password" maxlength="20" required/>
				</li>
				<li>
					{{ form_label(form.password, "Nouveau mot de passe :") }}
					{{ form_widget(form.password) }}
				</li>
				<li>
					<label for="confirmPassword">Confirmer :</label>
					<input type="password" name="confirmPassword" placeholder="confirm new password" maxlength="20" required/>
				</li>
			</ul>
			<ul class="form-submit">
				<li>
					<input type="submit" class="submit" value="Enregistrer"/>
				</li>
			</ul>
			{{ form_widget(form._token) }}
		{{ form_end(form, {'render_rest': false}) }}
	</div>
	<div class="clear"> </div>
</div>