<br/>
<li>
	<h2>{{ category.title }}</h2>
</li>
{% for formContent in formsViewsContents %}
	{% set content = attribute(category.contents, loop.index0) %}
	{% if content.type == "date" %}
		<li>
			{{ form_label(formContent.myDate, content.title) }}
			{{ form_widget(formContent.myDate) }}
		</li>
	{% elseif content.type == "textarea" %}
		<li>
			{{ form_label(formContent.myText, content.title) }}
			{{ form_widget(formContent.myText) }}
		</li>
	{% else %}
		<li>
			{{ form_label(formContent.MyValue, content.title) }}
			{{ form_widget(formContent.myValue) }}
		</li>
	{% endif %}
{% endfor %}