<br/>
<li>
	<h2>{{ category.title }}</h2>
</li>
<li>
	{{ form_label(formCategory.title, "Title :") }}
	{{ form_widget(formCategory.title) }}
</li>
<li>
	{{ form_label(formCategory.tag, "Tag :") }}
	{{ form_widget(formCategory.tag) }}
</li>